**/.DS_Store
.vscode
project/cmake
project/third_party
third_party/asio-1.24.0
third_party/gf-complete
third_party/grpc
third_party/jerasure
storage/*
!storage/.gitkeep
data/*
project/config/*
!project/config/BW_limit
!project/config/parameterConfiguration.xml
small_tools/*
logs/*
project/build/*
project/cmake/*
project/cache/*
project/build_opt/*

